<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="f" xsi:type="File"
       layout="${longdate} [${threadid}] ${uppercase:${level}} - ${message}"
       fileName="${environment:LOCALAPPDATA}/MyCompany/MyAddin/Logs/MyAddin_${environment:USERNAME}.${environment:USERDOMAIN}.log"
       header="[Open Log]"
       footer="[Close Log]"
       archiveFileName="${environment:LOCALAPPDATA}/MyCompany/MyAddin/Logs/MyAddin_${environment:USERNAME}.${environment:USERDOMAIN}.{#}.log"
       archiveAboveSize="1048576"
       archiveEvery="None"
       archiveNumbering="Rolling"
       maxArchiveFiles="5"
       concurrentWrites="false"
       keepFileOpen="true"
       encoding="utf-8" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="f" />
  </rules>
</nlog>
